<ol class="breadcrumb breadcrumb-bg-orange">
  <li>
    <a href="/">
      <i class="material-icons">home</i> Inicio</a>
  </li>
  <li class="active">
    <i class="material-icons">person</i> Professores</li>
</ol>
<div class="container-fluid" layout-margin>
  <md-card style="margin:0px">
    <md-input-container style="margin:15px;">
      <label>Filtrar</label>
      <input type="text" ng-model="filterName">
    </md-input-container>

    <div ng-hide="true">
      {{(filteredItems = (data | filter: filterName))}}
    </div>
  </md-card>
  <div class="alert alert-info" ng-hide="data.length">
    <strong>Informação!</strong> Não há professores cadastrados
  </div>
  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" table-card="{title: 'Professores', actionIcons: true}"
    animate-sort-icon="true" mdt-translations="{rowsPerPage : 'Itens por página', largeEditDialog : { saveButtonLabel : 'Salvar', cancelButtonLabel	: 'Cancelar'}}"
    mdt-row="{
    'data': filteredItems,
    'table-row-id-key': '_id',
    'column-keys': ['nome', 'email']
  }">
    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true" column-definition="Nome do professor"><span>Nome</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Email de entrada"><span>Email</span></mdt-column>
    </mdt-header-row>
  </mdt-table>
  <button ng-click="add()" type="button" class="btn btn-danger btn-circle-lg waves-effect waves-circle waves-float float">
    <md-tooltip md-direction="left">Adicionar mais professores</md-tooltip>
    <i class="material-icons">add</i>
  </button>
</div>