<ol class="breadcrumb breadcrumb-bg-orange">
  <li>
    <a href="/">
      <i class="material-icons">home</i> Inicio</a>
  </li>
  <li class="active">
    <i class="material-icons">book</i> Conteúdos</li>
</ol>
<div class="container-fluid" layout-margin>
  <md-card style="margin:0px">
    <md-input-container style="margin:15px;">
      <label>Filtrar</label>
      <input type="text" ng-model="filterName">
    </md-input-container>

    <div ng-hide="true">
      {{(filteredItems = (data | filter: filterName))}}
    </div>
  </md-card>
  <div class="alert alert-info" ng-hide="data.length">
    <strong>Informação!</strong> Não há conteúdos cadastrados
  </div>
  <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}" table-card="{title: 'Conteúdos', actionIcons: true}"
    animate-sort-icon="true" mdt-translations="{rowsPerPage : 'Itens por página', largeEditDialog : { saveButtonLabel : 'Salvar', cancelButtonLabel	: 'Cancelar'}}"
    mdt-row="{
    'data': filteredItems,
    'table-row-id-key': '_id',
    'column-keys': ['conteudo', 'informacao', 'acao']
  }">
    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true" column-definition="Conteúdo de matemática"><span>Conteúdo</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Breve informação sobre o conteúdo"><span>Descrição</span></mdt-column>
      <mdt-column align-rule="left"><span>Ação</span></mdt-column>
    </mdt-header-row>
    <mdt-custom-cell column-key="acao">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <button ng-click="clientScope.edit(rowId, $event)" type="button" class="btn btn-block btn-lg btn-warning waves-effect">
            <md-tooltip md-direction="top">Editar Conteúdo</md-tooltip>
            <i class="material-icons">edit</i>
          </button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a href="/videos/{{rowId}}">
            <button type="button" class="btn btn-block btn-lg btn-info waves-effect">
              <md-tooltip md-direction="top">Vídeos deste Conteúdo</md-tooltip>
              <i class="material-icons">videocam</i>
            </button>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <a href="/quiz/{{rowId}}">
            <button type="button" class="btn btn-block btn-lg btn-success waves-effect">
              <md-tooltip md-direction="top">Quiz deste Conteúdo</md-tooltip>
              <i class="material-icons">games</i>
            </button>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <button ng-click="clientScope.delete(rowId)" type="button" class="btn btn-block btn-lg btn-danger waves-effect">
            <md-tooltip md-direction="top">Excluir Conteúdo</md-tooltip>
            <i class="material-icons">delete</i>
          </button>
        </div>
      </div>
    </mdt-custom-cell>
  </mdt-table>
  <button ng-click="add()" type="button" class="btn btn-danger btn-circle-lg waves-effect waves-circle waves-float float">
    <md-tooltip md-direction="left">Adicionar mais conteúdos</md-tooltip>
    <i class="material-icons">add</i>
  </button>
</div>