<div class="container-fluid">
  <div class="block-header">
    <div class="row clearfix">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <div class="icon bg-red">
            <i class="material-icons">book</i>
          </div>
          <div class="content">
            <div class="text">CONTEÚDOS</div>
            <div class="number count-to" count-to="{{quantidade.qtdConteudos}}" value="0" duration="2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <div class="icon bg-indigo">
            <i class="material-icons">face</i>
          </div>
          <div class="content">
            <div class="text">USUÁRIOS</div>
            <div class="number count-to" count-to="{{quantidade.qtdUsuarios}}" value="0" duration="2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <div class="icon bg-purple">
            <i class="material-icons">videocam</i>
          </div>
          <div class="content">
            <div class="text">VÍDEOS</div>
            <div class="number count-to" count-to="{{quantidade.qtdVideos}}" value="0" duration="2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <div class="icon bg-deep-purple">
            <i class="material-icons">question_answer</i>
          </div>
          <div class="content">
            <div class="text">PERGUNTAS</div>
            <div class="number count-to" count-to="{{quantidade.qtdPerguntas}}" value="0" duration="2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
