<!-- Jquery Core Js -->
<script src="/vendor/adminbsb-materialdesign/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="/vendor/adminbsb-materialdesign/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="/vendor/adminbsb-materialdesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="/vendor/adminbsb-materialdesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="/vendor/adminbsb-materialdesign/plugins/node-waves/waves.js"></script>

<!-- Custom Js -->
<script src="/vendor/adminbsb-materialdesign/js/admin.js"></script>

<!-- Demo Js -->
<script src="/vendor/adminbsb-materialdesign/js/demo.js"></script>


<!-- Angular -->
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-route/angular-route.js"></script>
<script src="/vendor/angular-resource/angular-resource.js"></script>
<script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="/vendor/angular-animate/angular-animate.js"></script>
<script src="/vendor/angular-aria/angular-aria.js"></script>
<script src="/vendor/angular-material/angular-material.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//rawgit.com/iamisti/mdDataTable/master/dist/md-data-table-templates.js"></script>
<script src="//rawgit.com/iamisti/mdDataTable/master/dist/md-data-table.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="/vendor/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/controllers/VideoController.js"></script>
<script src="/js/controllers/HomeController.js"></script>
<script src="/js/controllers/ConteudosController.js"></script>



</body>

</html>
