<md-dialog aria-label="Adicionar novo vídeo">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adicionar novo vídeo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel ()">
       Cancelar
      </md-button>
      <md-button ng-click="add()">
        Adicionar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
