<% include partials/head %>

<% include partials/header %>

<% include partials/menu %>

<section class="content">
  <div class="container-fluid"  ng-controller="ConteudosController" layout-margin>
    <md-card style="margin:0px">
      <md-input-container style="margin:15px;">
        <label>Filtrar</label>
        <input type="text" ng-model="filterName">
      </md-input-container>

      <div ng-hide="true">
        {{(filteredItems = (conteudos | filter: filterName))}}
      </div>
    </md-card>
    <div class="alert alert-info" ng-hide="conteudos.length">
      <strong>Informação!</strong> Não há conteúdos cadastrados
    </div>
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
    table-card="{title: 'Conteúdos', actionIcons: true}"
    animate-sort-icon="true"
    mdt-translations="{rowsPerPage : 'Itens por página', largeEditDialog : { saveButtonLabel : 'Salvar', cancelButtonLabel	: 'Cancelar'}}"
    mdt-row="{
      'data': filteredItems,
      'table-row-id-key': '_id',
      'column-keys': ['conteudo', 'informacao', 'acao']
    }"
    >
    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true" column-definition="Conteúdo de matemática"><span>Conteúdo</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Breve informação sobre o conteúdo"><span>Descrição</span></mdt-column>
      <mdt-column align-rule="left"><span>Ação</span></mdt-column>
    </mdt-header-row>
    <mdt-custom-cell column-key="acao">
      <div class ="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <button ng-click="clientScope.edit(rowId, $event)" type="button" class="btn btn-block btn-lg btn-warning waves-effect">
            <i class="material-icons">edit</i>
            <span>Editar</span>
          </button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <a href="/videos/{{rowId}}">
          <button type="button" class="btn btn-block btn-lg btn-info waves-effect">
              <i class="material-icons">videocam</i>
              <span>Vídeos</span>
          </button>
          </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <button ng-click="clientScope.delete(rowId)" type="button" class="btn btn-block btn-lg btn-danger waves-effect">
            <i class="material-icons">delete</i>
            <span>Excluir</span>
          </button>
        </div>
      </div>
    </mdt-custom-cell>
  </mdt-table>
  <style>
  *{padding:0;margin:0}body{font-family:Verdana,Geneva,sans-serif;background-color:#CCC;font-size:12px}.label-container{position:fixed;bottom:48px;right:105px;display:table;visibility:hidden}.label-text{color:#FFF;background:rgba(51,51,51,0.5);display:table-cell;vertical-align:middle;padding:10px;border-radius:3px}.label-arrow{display:table-cell;vertical-align:middle;color:#333;opacity:.5}.float{position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#F44336;color:#FFF;border-radius:50px;text-align:center;box-shadow:2px 2px 3px #999}.my-float{font-size:24px;margin-top:18px}button.float + div.label-container{visibility:hidden;opacity:0;transition:visibility 0s,opacity .5s ease}button.float:hover + div.label-container{visibility:visible;opacity:1}
  </style>
  <button ng-click="add()" type="button" class="btn btn-danger btn-circle-lg waves-effect waves-circle waves-float float">
    <i class="material-icons">add</i>
  </button>
  <div class="label-container">
    <div class="label-text">Adicionar mais conteúdos</div>
    <i class="fa fa-play label-arrow"></i>
  </div>
</div>
</section>

<% include partials/footer %>
