<% include partials/head %>

<% include partials/header %>

<% include partials/menu %>

<section class="content">
  <div class="container-fluid"  ng-controller="UsuariosController" layout-margin>
    <md-card style="margin:0px">
      <md-input-container style="margin:15px;">
        <label>Filtrar</label>
        <input type="text" ng-model="filterName">
      </md-input-container>

      <div ng-hide="true">
        {{(filteredItems = (usuarios | filter: filterName))}}
      </div>
    </md-card>
    <div class="alert alert-info" ng-hide="usuarios.length">
      <strong>Informação!</strong> Não há usuarios cadastrados
    </div>
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
    table-card="{title: 'Conteúdos', actionIcons: true}"
    animate-sort-icon="true"
    mdt-translations="{rowsPerPage : 'Itens por página', largeEditDialog : { saveButtonLabel : 'Salvar', cancelButtonLabel	: 'Cancelar'}}"
    mdt-row="{
      'data': filteredItems,
      'table-row-id-key': '_id',
      'column-keys': ['nome', 'email', 'escola']
    }"
    >
    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true" column-definition="Nome do usuário"><span>Nome</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Email que foi cadastrado"><span>Email</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Escola que estuda"><span>Escola</span></mdt-column>
    </mdt-header-row>
  </mdt-table>
</div>
</section>

<% include partials/footer %>
