<% include partials/head %>

<% include partials/header %>

<% include partials/menu %>

<section class="content">
  <div class="container-fluid"  ng-controller="VideoController" layout-margin>
    <md-card style="margin:0px">
      <md-input-container style="margin:15px;">
        <label>Filtrar</label>
        <input type="text" ng-model="filterName">
      </md-input-container>

      <div ng-hide="true">
        {{(filteredItems = (videos | filter: filterName))}}
      </div>
    </md-card>
    <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
    table-card="{title: 'Vídeos', actionIcons: true}"
    animate-sort-icon="true"
    save-row-callback="saveRowCallback(row)"
    mdt-translations="{rowsPerPage : 'itens por página', largeEditDialog : { saveButtonLabel : 'Salvar', cancelButtonLabel	: 'Cancelar'}}"
    mdt-loading-indicator="{color:red}"
    >
    <mdt-header-row>
      <mdt-column align-rule="left" column-sort="true" column-definition="Conteúdo de matemática"><span>Conteúdo</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Breve informação sobre o conteúdo"><span>Informação</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Nome do vídeo que está nesse conteúdo"><span>Nome Vídeo</span></mdt-column>
      <mdt-column align-rule="left" column-sort="true" column-definition="Url do vídeo que está nesse conteúdo"><span>Url Vídeo</span></mdt-column>
    </mdt-header-row>
    <mdt-row table-row-id="id" ng-repeat="video in filteredItems">
      <mdt-cell
      editable-field="largeEditDialog"
      editable-field-title="Add fat in gram"
      ><span>{{video.conteudo}}</span></mdt-cell>
      <mdt-cell
      editable-field="largeEditDialog"
      editable-field-title="Add fat in gram"
      ><span>{{video.conteudo}}</span></mdt-cell>
      <mdt-cell
      editable-field="largeEditDialog"
      editable-field-title="Add fat in gram"
      ><span>{{video.videos[0].nome}}</span></mdt-cell>
      <mdt-cell
      editable-field="largeEditDialog"
      editable-field-title="Add fat in gram"
    ><span>{{video.videos[0].url}}</span></mdt-cell>

    </mdt-row>
  </mdt-table>
</div>
</section>

<% include partials/footer %>
